PORT=4000
FRONTEND_URL=http://localhost:3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=linedecor

JWT_SECRET=altere-em-producao

EMAIL_EMPRESA=kauavaes55@gmail.com
TELEFONE_EMPRESA=(19) 97108-0410
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
